CaseStudy2/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FuelRequired" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SeatingCapacity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RentPerDay" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RatePerKm" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertdetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertdetailsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="opinsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehicleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FuelRequired" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentMode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SeatingCapacity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="opinsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="opinsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="display">
        <s:complexType />
      </s:element>
      <s:element name="displayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="displayResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sm" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="condition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicletype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehiclename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conditionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookedinsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicleType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vehiclename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fuelrequired" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seatingCapacity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RentMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bookedinsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookedinsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertdetailsSoapIn">
    <wsdl:part name="parameters" element="tns:insertdetails" />
  </wsdl:message>
  <wsdl:message name="insertdetailsSoapOut">
    <wsdl:part name="parameters" element="tns:insertdetailsResponse" />
  </wsdl:message>
  <wsdl:message name="opinsertSoapIn">
    <wsdl:part name="parameters" element="tns:opinsert" />
  </wsdl:message>
  <wsdl:message name="opinsertSoapOut">
    <wsdl:part name="parameters" element="tns:opinsertResponse" />
  </wsdl:message>
  <wsdl:message name="displaySoapIn">
    <wsdl:part name="parameters" element="tns:display" />
  </wsdl:message>
  <wsdl:message name="displaySoapOut">
    <wsdl:part name="parameters" element="tns:displayResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="conditionSoapIn">
    <wsdl:part name="parameters" element="tns:condition" />
  </wsdl:message>
  <wsdl:message name="conditionSoapOut">
    <wsdl:part name="parameters" element="tns:conditionResponse" />
  </wsdl:message>
  <wsdl:message name="bookedinsertSoapIn">
    <wsdl:part name="parameters" element="tns:bookedinsert" />
  </wsdl:message>
  <wsdl:message name="bookedinsertSoapOut">
    <wsdl:part name="parameters" element="tns:bookedinsertResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <wsdl:input message="tns:insertdetailsSoapIn" />
      <wsdl:output message="tns:insertdetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="opinsert">
      <wsdl:input message="tns:opinsertSoapIn" />
      <wsdl:output message="tns:opinsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="display">
      <wsdl:input message="tns:displaySoapIn" />
      <wsdl:output message="tns:displaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="condition">
      <wsdl:input message="tns:conditionSoapIn" />
      <wsdl:output message="tns:conditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bookedinsert">
      <wsdl:input message="tns:bookedinsertSoapIn" />
      <wsdl:output message="tns:bookedinsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <soap:operation soapAction="http://tempuri.org/insertdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opinsert">
      <soap:operation soapAction="http://tempuri.org/opinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display">
      <soap:operation soapAction="http://tempuri.org/display" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="condition">
      <soap:operation soapAction="http://tempuri.org/condition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookedinsert">
      <soap:operation soapAction="http://tempuri.org/bookedinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertdetails">
      <soap12:operation soapAction="http://tempuri.org/insertdetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="opinsert">
      <soap12:operation soapAction="http://tempuri.org/opinsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display">
      <soap12:operation soapAction="http://tempuri.org/display" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="condition">
      <soap12:operation soapAction="http://tempuri.org/condition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bookedinsert">
      <soap12:operation soapAction="http://tempuri.org/bookedinsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:60007/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:60007/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>